In [1]:
import pandas as pd
df1 = pd.read_csv('df1.csv', encoding='utf-8', index_col=0, header=0)
df2 = pd.read_csv('df2.csv', encoding='utf-8', index_col=0, header=0)

In [2]:
import numpy as np

In [3]:
df1.head()

,name,text
0,German,**German** can mean different things. It can ...
1,Coat_of_Arms_of_Germany_0bb4,The **coat of arms of Germany** (German **Wapp...
2,Flag_of_Germany_0658,The **flag of Germany** (German: _Bundesflagge...
3,Das_Lied_der_Deutschen_3057,**Das Lied der Deutschen** (The Song of the Ge...
4,Map,A **map** is usually a picture of the Earth or...

In [4]:
df2.head()

,name,out_links
0,German,"[German_language, Country, Germany, Frank, Hol..."
1,Coat_of_Arms_of_Germany_0bb4,"[German_language, Germany, Flag_of_Germany_065..."
2,Flag_of_Germany_0658,"[German_language, Black, Red, Gold, Flag_of_Ge..."
3,Das_Lied_der_Deutschen_3057,"[Germany, Joseph_Haydn_fcd5, Hoffmann_von_Fall..."
4,Map,"[Earth, Photograph, Interpretation, Chart, Dra..."

In [5]:
df1 = df1.drop_duplicates(subset=['name'])
df2 = df2.drop_duplicates(subset=['name'])

In [6]:
df2.shape

(27493, 2)

In [7]:
import re 
df1["words"] = df1.text.apply(lambda x: set(re.findall("\w+",str(x))))
df1["word_list"] = df1.text.apply(lambda x: re.findall("\w+",str(x)))

In [8]:
df1.head()

,name,text,words,word_list
0,German,**German** can mean different things. It can ...,"{same, someone, himself, mean, When, one, also...","[German, can, mean, different, things, It, can..."
1,Coat_of_Arms_of_Germany_0bb4,The **coat of arms of Germany** (German **Wapp...,"{to, _Schwarz, religious, coat, was, god, thro...","[The, coat, of, arms, of, Germany, German, Wap..."
2,Flag_of_Germany_0658,The **flag of Germany** (German: _Bundesflagge...,"{out, form, new, _Bundesflagge_, was, colours,...","[The, flag, of, Germany, German, _Bundesflagge..."
3,Das_Lied_der_Deutschen_3057,**Das Lied der Deutschen** (The Song of the Ge...,"{Hoffman, known, Einigkeit, British, Siegerkra...","[Das, Lied, der, Deutschen, The, Song, of, the..."
4,Map,A **map** is usually a picture of the Earth or...,"{make, screen, also, Earth, only, one, If, The...","[A, map, is, usually, a, picture, of, the, Ear..."

In [9]:
x = df1.head().words[0]

In [10]:
print(len(x))
print(len(set(x)))

36
36

In [11]:
#intersetion_cardinality = len(set.intersection(*[set(x), set(y)]))
def calc_jaccard_simmilarity(wordset1, wordset2):
    intersetion_cardinality = len(set.intersection(wordset1, wordset2))
    union_cardinality = len(set.union(wordset1, wordset2))
    return intersetion_cardinality/float(union_cardinality)

In [12]:
calc_jaccard_simmilarity(set(["red", "blue", "yellow"]), set(["green", "red", "orange"]))

0.2

In [13]:
dfe = df1[df1["name"] == "Europe"]
europe_words = dfe.words.values[0]
dfg = df1[df1["name"] == "Germany"]
germany_words = dfg.words.values[0]

In [14]:
calc_jaccard_simmilarity(europe_words, germany_words)

0.043219076005961254

In [15]:
# dfg = df1[df1["name"] == "German"]
# german = dfg.words.values[0]

In [16]:
# calc_jaccard_simmilarity(german, germany)

In [17]:
from collections import Counter
df1['tf'] = df1.word_list.apply(lambda x: Counter(x))

In [18]:
df1.head()

,name,text,words,word_list,tf
0,German,**German** can mean different things. It can ...,"{same, someone, himself, mean, When, one, also...","[German, can, mean, different, things, It, can...","{'lives': 1, 'different': 1, 'Republic': 1, 's..."
1,Coat_of_Arms_of_Germany_0bb4,The **coat of arms of Germany** (German **Wapp...,"{to, _Schwarz, religious, coat, was, god, thro...","[The, coat, of, arms, of, Germany, German, Wap...","{'to': 2, '_Schwarz': 1, 'religious': 1, 'by':..."
2,Flag_of_Germany_0658,The **flag of Germany** (German: _Bundesflagge...,"{out, form, new, _Bundesflagge_, was, colours,...","[The, flag, of, Germany, German, _Bundesflagge...","{'out': 1, 'form': 1, 'new': 1, '_Bundesflagge..."
3,Das_Lied_der_Deutschen_3057,**Das Lied der Deutschen** (The Song of the Ge...,"{Hoffman, known, Einigkeit, British, Siegerkra...","[Das, Lied, der, Deutschen, The, Song, of, the...","{'Hoffman': 1, 'known': 1, 'Einigkeit': 1, 'th..."
4,Map,A **map** is usually a picture of the Earth or...,"{make, screen, also, Earth, only, one, If, The...","[A, map, is, usually, a, picture, of, the, Ear...","{'on': 4, 'make': 1, 'that': 4, 'sphere': 1, '..."

In [19]:
words = df1.words.tolist()

In [20]:
all_words = [word for sets in words for word in sets]

In [21]:
doc_freq = Counter(all_words)

In [22]:
def tf_dict_to_tfidf(tf_dic):
    new_dic = {}
    for k,v in tf_dic.items():
        new_dic[k] = v / float(doc_freq[k])
    return new_dic
df1['tf_idf'] = df1.tf.apply(tf_dict_to_tfidf)

In [23]:
df1.head()

,name,text,words,word_list,tf,tf_idf
0,German,**German** can mean different things. It can ...,"{same, someone, himself, mean, When, one, also...","[German, can, mean, different, things, It, can...","{'lives': 1, 'different': 1, 'Republic': 1, 's...","{'lives': 0.0018975332068311196, 'different': ..."
1,Coat_of_Arms_of_Germany_0bb4,The **coat of arms of Germany** (German **Wapp...,"{to, _Schwarz, religious, coat, was, god, thro...","[The, coat, of, arms, of, Germany, German, Wap...","{'to': 2, '_Schwarz': 1, 'religious': 1, 'by':...","{'to': 0.00013824566254233773, '_Schwarz': 1.0..."
2,Flag_of_Germany_0658,The **flag of Germany** (German: _Bundesflagge...,"{out, form, new, _Bundesflagge_, was, colours,...","[The, flag, of, Germany, German, _Bundesflagge...","{'out': 1, 'form': 1, 'new': 1, '_Bundesflagge...","{'out': 0.00047732696897374703, 'form': 0.0007..."
3,Das_Lied_der_Deutschen_3057,**Das Lied der Deutschen** (The Song of the Ge...,"{Hoffman, known, Einigkeit, British, Siegerkra...","[Das, Lied, der, Deutschen, The, Song, of, the...","{'Hoffman': 1, 'known': 1, 'Einigkeit': 1, 'th...","{'Hoffman': 0.09090909090909091, 'Siegerkranz'..."
4,Map,A **map** is usually a picture of the Earth or...,"{make, screen, also, Earth, only, one, If, The...","[A, map, is, usually, a, picture, of, the, Ear...","{'on': 4, 'make': 1, 'that': 4, 'sphere': 1, '...","{'on': 0.00044732721986132855, 'make': 0.00042..."

In [24]:
from math import sqrt
def euclidian_len(d1):
    return sqrt(sum([v*v for k,v in d1.items()]))

def scalar(d1, d2):
    suma = 0
    for k,v in d1.items():
        try:
            suma += v * d2[k]
        except KeyError:
            pass
    return suma

def calc_cosine_similarity(d1,d2):
    return (scalar(d1,d2)/(euclidian_len(d1)*euclidian_len(d2)))

In [25]:
dfe = df1[df1["name"] == "Europe"]
europe = dfe.words.values[0]
dfg = df1[df1["name"] == "Germany"]
germany = dfg.words.values[0]

In [26]:
calc_cosine_similarity(dfg.tf_idf.values[0], dfe.tf_idf.values[0])

0.0002954073047552391

In [27]:
dfe2 = df2[df2["name"] == "Europe"]
europe_links = dfe2.out_links.values[0]
dfg2 = df2[df2["name"] == "Germany"]
germany_links = dfg2.out_links.values[0]

In [28]:
df2.head()

,name,out_links
0,German,"[German_language, Country, Germany, Frank, Hol..."
1,Coat_of_Arms_of_Germany_0bb4,"[German_language, Germany, Flag_of_Germany_065..."
2,Flag_of_Germany_0658,"[German_language, Black, Red, Gold, Flag_of_Ge..."
3,Das_Lied_der_Deutschen_3057,"[Germany, Joseph_Haydn_fcd5, Hoffmann_von_Fall..."
4,Map,"[Earth, Photograph, Interpretation, Chart, Dra..."

In [29]:
calc_jaccard_simmilarity(set(europe_links), set(germany_links))

0.9130434782608695

In [30]:
df1.head()

,name,text,words,word_list,tf,tf_idf
0,German,**German** can mean different things. It can ...,"{same, someone, himself, mean, When, one, also...","[German, can, mean, different, things, It, can...","{'lives': 1, 'different': 1, 'Republic': 1, 's...","{'lives': 0.0018975332068311196, 'different': ..."
1,Coat_of_Arms_of_Germany_0bb4,The **coat of arms of Germany** (German **Wapp...,"{to, _Schwarz, religious, coat, was, god, thro...","[The, coat, of, arms, of, Germany, German, Wap...","{'to': 2, '_Schwarz': 1, 'religious': 1, 'by':...","{'to': 0.00013824566254233773, '_Schwarz': 1.0..."
2,Flag_of_Germany_0658,The **flag of Germany** (German: _Bundesflagge...,"{out, form, new, _Bundesflagge_, was, colours,...","[The, flag, of, Germany, German, _Bundesflagge...","{'out': 1, 'form': 1, 'new': 1, '_Bundesflagge...","{'out': 0.00047732696897374703, 'form': 0.0007..."
3,Das_Lied_der_Deutschen_3057,**Das Lied der Deutschen** (The Song of the Ge...,"{Hoffman, known, Einigkeit, British, Siegerkra...","[Das, Lied, der, Deutschen, The, Song, of, the...","{'Hoffman': 1, 'known': 1, 'Einigkeit': 1, 'th...","{'Hoffman': 0.09090909090909091, 'Siegerkranz'..."
4,Map,A **map** is usually a picture of the Earth or...,"{make, screen, also, Earth, only, one, If, The...","[A, map, is, usually, a, picture, of, the, Ear...","{'on': 4, 'make': 1, 'that': 4, 'sphere': 1, '...","{'on': 0.00044732721986132855, 'make': 0.00042..."

In [31]:
df1['cos_ger'] = df1.tf_idf.apply(lambda x: calc_cosine_similarity(x, dfg.tf_idf.values[0]))

In [32]:
df1['jac_ger'] = df1.words.apply(lambda x: calc_jaccard_simmilarity(x, germany_words))

In [33]:
df2['jac_ger_links'] = df2.out_links.apply(lambda x: calc_jaccard_simmilarity(set(x), set(germany_links)))

In [34]:
df3 = pd.merge(df1[['name', 'cos_ger', 'jac_ger']], df2[['name', 'jac_ger_links']], on='name', how='left')

In [35]:
cos_text = df3.sort_values('cos_ger', ascending=False).head(10)['name']
jac_text = df3.sort_values('jac_ger', ascending=False).head(10)['name']
jac_links = df3.sort_values('jac_ger_links', ascending=False).head(10)['name']

In [36]:
df1.shape

(27493, 8)

In [37]:
df3.head()

                           name   cos_ger   jac_ger  jac_ger_links
0                        German  0.000463  0.037481       0.558824
1  Coat_of_Arms_of_Germany_0bb4  0.000041  0.044476       0.514706
2          Flag_of_Germany_0658  0.000055  0.042213       0.397059
3   Das_Lied_der_Deutschen_3057  0.000221  0.123698       0.794118
4                           Map  0.000096  0.060478       0.536232

In [38]:
df1 = df1.head(1000)
df_jac_text = pd.DataFrame(df1.name)
names = df1.name.values
for name in names:
    helper = df1[df1["name"] == name].words.values[0]
    df_jac_text[name] = df1.words.apply(lambda x: calc_jaccard_simmilarity(x, helper))

In [39]:
df_jac_text

,name,German,Coat_of_Arms_of_Germany_0bb4,Flag_of_Germany_0658,Das_Lied_der_Deutschen_3057,Map,National_anthem,Official_language,Square_kilometre,German_language,...,Edgar_Allan_Poe_4636,Emergency_medical_services_in_the_United_Kingdom_d2ba,Members_of_the_European_Parliament_for_the_United_Kingdom_2004-2009_51d8,Telephone_numbers_in_the_United_Kingdom_9941,Post_town,Theft,Charter_Trustees_3047,Fairtrade,Pedestrian,Lancaster%2C_Lancashire_16df
0,German,1.000000,0.102041,0.103448,0.070485,0.089431,0.086207,0.109375,0.112500,0.087591,...,0.039514,0.030501,0.106061,0.044776,0.086207,0.148148,0.071429,0.069767,0.073333,0.083333
1,Coat_of_Arms_of_Germany_0bb4,0.102041,1.000000,0.189189,0.077220,0.082803,0.064516,0.080808,0.068376,0.101190,...,0.050000,0.053830,0.079208,0.039216,0.076087,0.102564,0.088235,0.057851,0.082418,0.104348
2,Flag_of_Germany_0658,0.103448,0.189189,1.000000,0.089796,0.074830,0.115385,0.117647,0.097087,0.081250,...,0.045714,0.050740,0.077778,0.032967,0.048193,0.114286,0.064516,0.064220,0.088235,0.116505
3,Das_Lied_der_Deutschen_3057,0.070485,0.077220,0.089796,1.000000,0.101083,0.083333,0.056769,0.074380,0.114983,...,0.112798,0.116118,0.060870,0.025532,0.040000,0.077551,0.046809,0.052000,0.121622,0.052209
4,Map,0.089431,0.082803,0.074830,0.101083,1.000000,0.096491,0.081301,0.094203,0.104712,...,0.063158,0.072144,0.097561,0.015385,0.086957,0.115108,0.104839,0.069444,0.120603,0.062500
5,National_anthem,0.086207,0.064516,0.115385,0.083333,0.096491,1.000000,0.192308,0.111111,0.085271,...,0.030960,0.035714,0.084746,0.016667,0.102041,0.090909,0.100000,0.077922,0.070423,0.078947
6,Official_language,0.109375,0.080808,0.117647,0.056769,0.081301,0.192308,1.000000,0.100000,0.088235,...,0.033333,0.048889,0.043478,0.045455,0.107143,0.108434,0.088235,0.045977,0.052632,0.097561
7,Square_kilometre,0.112500,0.068376,0.097087,0.074380,0.094203,0.111111,0.100000,1.000000,0.084967,...,0.049708,0.049251,0.097561,0.023529,0.126761,0.089109,0.135802,0.090000,0.098765,0.080000
8,German_language,0.087591,0.101190,0.081250,0.114983,0.104712,0.085271,0.088235,0.084967,1.000000,...,0.068878,0.072125,0.086957,0.035211,0.093750,0.118421,0.070423,0.090323,0.106977,0.070064
9,Geography,0.101911,0.100000,0.082418,0.124183,0.151961,0.093333,0.095541,0.091954,0.086957,...,0.104738,0.097514,0.067485,0.023952,0.071895,0.089888,0.100000,0.054645,0.124464,0.103448
10,Population,0.115385,0.108108,0.099010,0.088608,0.155039,0.130435,0.116883,0.155556,0.100671,...,0.072072,0.063181,0.086420,0.036585,0.130435,0.113402,0.125000,0.103093,0.128205,0.115789
11,Nation,0.093023,0.079268,0.137931,0.118280,0.134078,0.109244,0.102362,0.082192,0.101010,...,0.073107,0.084000,0.109375,0.045113,0.081967,0.140845,0.090909,0.080537,0.116505,0.081081
12,Capital_(city),0.096154,0.086957,0.121951,0.104651,0.100000,0.153846,0.202128,0.110169,0.136905,...,0.066667,0.077406,0.074766,0.056604,0.082474,0.125000,0.073394,0.098361,0.109290,0.108333
13,World,0.109091,0.077778,0.089744,0.054545,0.098214,0.155556,0.111111,0.114286,0.061538,...,0.027950,0.031250,0.068966,0.035088,0.106383,0.078947,0.066667,0.065789,0.048951,0.081081
14,Information,0.092437,0.077922,0.084507,0.114815,0.129412,0.100000,0.066116,0.130769,0.101064,...,0.063830,0.070565,0.091667,0.024000,0.100000,0.110294,0.090164,0.079137,0.123077,0.056738
15,Water,0.065217,0.064220,0.067961,0.098802,0.121739,0.074713,0.065574,0.081218,0.092000,...,0.073733,0.089416,0.059140,0.015707,0.080925,0.085000,0.087432,0.080000,0.113281,0.069652
16,Square_mile,0.134146,0.075000,0.093458,0.081967,0.099291,0.120000,0.121951,0.617647,0.082803,...,0.049133,0.055556,0.093023,0.022472,0.120000,0.096154,0.142857,0.086538,0.096386,0.076923
17,Area,0.109756,0.104348,0.095238,0.065041,0.150376,0.108108,0.084337,0.148936,0.090909,...,0.064897,0.046809,0.108434,0.022989,0.093333,0.120000,0.146341,0.067308,0.104294,0.089109
18,City,0.046196,0.057789,0.051414,0.130081,0.117500,0.047354,0.063712,0.074866,0.100000,...,0.143106,0.157585,0.051771,0.015915,0.056180,0.076923,0.051491,0.038462,0.136691,0.065963
19,Horst_K%C3%B6hler_7544,0.080000,0.082278,0.089041,0.085106,0.064865,0.067797,0.063492,0.070423,0.070707,...,0.068602,0.063492,0.062500,0.023077,0.058824,0.061224,0.112903,0.047297,0.087379,0.076923
20,German_Empire_13a8,0.121212,0.088757,0.116883,0.208333,0.093750,0.077519,0.050000,0.085526,0.102941,...,0.082902,0.070175,0.103704,0.013889,0.037313,0.104575,0.070922,0.083871,0.112676,0.070513
21,Frank,0.000000,0.012987,0.031250,0.014286,0.019608,0.031250,0.025000,0.017241,0.025862,...,0.003215,0.004535,0.000000,0.000000,0.000000,0.032787,0.000000,0.033333,0.015504,0.016667
22,Holy_Roman_Empire_f314,0.080537,0.100559,0.063218,0.121622,0.072115,0.070423,0.066667,0.040936,0.096774,...,0.085642,0.060377,0.058824,0.019231,0.048276,0.070588,0.064935,0.046243,0.086957,0.077844
23,German_Democratic_Republic_b577,0.076336,0.099379,0.114865,0.130435,0.103261,0.081967,0.060606,0.074830,0.090000,...,0.073107,0.066929,0.075758,0.014599,0.056000,0.080000,0.058824,0.059211,0.090047,0.088435
24,Weimar_Republic_9fad,0.066298,0.090476,0.112821,0.185668,0.133333,0.057471,0.054945,0.065990,0.111111,...,0.118357,0.085923,0.077778,0.015957,0.057471,0.070000,0.071038,0.039024,0.119048,0.065327
25,List_of_country_calling_codes,0.106061,0.079208,0.077778,0.056277,0.062992,0.084746,0.107692,0.097561,0.048951,...,0.036254,0.039474,0.088235,0.075758,0.103448,0.093023,0.070423,0.056818,0.072848,0.069767
26,Telephone,0.083333,0.084507,0.063107,0.119266,0.152466,0.081395,0.071823,0.081633,0.088000,...,0.117788,0.105751,0.065217,0.026596,0.075145,0.107692,0.076087,0.064356,0.140562,0.064677
27,Red,0.072626,0.075472,0.085427,0.110092,0.123894,0.070175,0.073034,0.082902,0.097959,...,0.071926,0.086081,0.054645,0.021505,0.063953,0.086735,0.083333,0.060000,0.097656,0.065657
28,Black,0.101695,0.092105,0.107914,0.082734,0.097143,0.090090,0.040323,0.088889,0.078125,...,0.063830,0.049407,0.082645,0.024000,0.070796,0.078571,0.064000,0.063830,0.100503,0.064286
29,Poland,0.029909,0.036295,0.039490,0.114583,0.050431,0.022193,0.031291,0.031888,0.064951,...,0.110879,0.128666,0.027202,0.012821,0.022193,0.039642,0.029793,0.023960,0.061446,0.034439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,Harold_Godwinson_e9f3,0.071429,0.076336,0.075000,0.078125,0.084416,0.066667,0.072165,0.060870,0.064327,...,0.090116,0.051975,0.081633,0.019802,0.054945,0.086207,0.102041,0.050420,0.071823,0.068966
971,Division_(botany),0.093023,0.064103,0.075758,0.028302,0.038095,0.117647,0.095238,0.084746,0.050847,...,0.019293,0.013575,0.090909,0.046512,0.151515,0.079365,0.063830,0.063492,0.046154,0.081967
972,1846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
973,Chichester,0.033537,0.068376,0.061404,0.096774,0.077957,0.041009,0.046440,0.056380,0.074935,...,0.105263,0.109445,0.033435,0.018127,0.050955,0.058824,0.058824,0.043605,0.108808,0.068657
974,Chester,0.102564,0.099099,0.078431,0.066390,0.088235,0.149254,0.062500,0.119565,0.065359,...,0.059524,0.047312,0.087500,0.024390,0.100000,0.126316,0.098765,0.081633,0.107595,0.141304
975,Brighton,0.089286,0.077778,0.089744,0.049774,0.060345,0.083333,0.071429,0.114286,0.053435,...,0.044164,0.031250,0.068966,0.035088,0.106383,0.108108,0.084746,0.051948,0.063830,0.126761
976,City_of_Bradford_d4c6,0.068493,0.075472,0.062500,0.055085,0.052632,0.112903,0.069444,0.104651,0.054422,...,0.051360,0.027897,0.082192,0.027027,0.078125,0.076087,0.065789,0.053763,0.056962,0.102273
977,City_status_in_the_United_Kingdom_d209,0.024528,0.035778,0.040367,0.090076,0.055846,0.028902,0.034351,0.042831,0.058020,...,0.095687,0.125149,0.030303,0.015009,0.036893,0.040590,0.054054,0.027372,0.074830,0.066414
978,List_of_diseases,0.105882,0.092437,0.092593,0.077236,0.138686,0.089744,0.068966,0.088235,0.103226,...,0.048991,0.055437,0.130952,0.033708,0.089744,0.116505,0.089888,0.085714,0.115854,0.086538
979,Cowpox,0.050926,0.086777,0.072650,0.117978,0.115830,0.048077,0.056075,0.089286,0.093525,...,0.104444,0.105634,0.065421,0.018100,0.053140,0.064378,0.090047,0.037815,0.120567,0.069565
980,Gloucester,0.076923,0.121495,0.080000,0.066946,0.073529,0.102941,0.077922,0.097826,0.066225,...,0.044248,0.036325,0.062500,0.037975,0.102941,0.105263,0.129870,0.083333,0.081250,0.119565
981,Bath%2C_England_14d9,0.083333,0.104348,0.095238,0.073770,0.085106,0.093333,0.084337,0.102041,0.083871,...,0.071217,0.049041,0.082353,0.047059,0.123288,0.131313,0.093023,0.088235,0.084337,0.157895
982,Nottingham,0.039474,0.070588,0.069672,0.093834,0.075540,0.060465,0.058296,0.067227,0.068027,...,0.092672,0.068677,0.043860,0.021739,0.065421,0.057377,0.066667,0.040486,0.097643,0.103448
983,Social_class,0.056338,0.057143,0.053191,0.064935,0.053846,0.081967,0.088235,0.082353,0.055556,...,0.039157,0.039301,0.085714,0.028169,0.100000,0.054945,0.068493,0.055556,0.078947,0.044444
984,Hereford,0.069565,0.104167,0.105263,0.076923,0.081871,0.075472,0.079646,0.085271,0.086957,...,0.073770,0.062880,0.068966,0.034188,0.085714,0.090909,0.125000,0.067164,0.087179,0.154472
985,Invasion,0.095238,0.094017,0.054545,0.082305,0.084507,0.106667,0.083333,0.090000,0.083333,...,0.052326,0.044492,0.068966,0.046512,0.106667,0.086538,0.079545,0.066667,0.077381,0.077670
986,Winchester,0.094340,0.093023,0.093333,0.036199,0.034483,0.113636,0.075472,0.102941,0.038462,...,0.041270,0.022272,0.072727,0.037037,0.088889,0.082192,0.070175,0.068493,0.050000,0.132353
987,Vikings,0.054348,0.074766,0.048077,0.089552,0.044898,0.063218,0.048913,0.049751,0.062745,...,0.081585,0.083789,0.054054,0.015873,0.022099,0.053922,0.053476,0.033816,0.109804,0.054455
988,Leeds,0.072464,0.089109,0.113636,0.065217,0.079365,0.140351,0.106061,0.123457,0.078571,...,0.042424,0.039387,0.102941,0.058824,0.120690,0.130952,0.100000,0.068182,0.065359,0.094118
989,955,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
990,Edgar_Allan_Poe_4636,0.039514,0.050000,0.045714,0.112798,0.063158,0.030960,0.033333,0.049708,0.068878,...,1.000000,0.095870,0.030030,0.014925,0.030960,0.049133,0.045455,0.025496,0.093909,0.055556
991,Emergency_medical_services_in_the_United_Kingd...,0.030501,0.053830,0.050740,0.116118,0.072144,0.035714,0.048889,0.049251,0.072125,...,0.095870,1.000000,0.039474,0.023913,0.033408,0.053305,0.043860,0.033543,0.093385,0.051282
992,Members_of_the_European_Parliament_for_the_Uni...,0.106061,0.079208,0.077778,0.060870,0.097561,0.084746,0.043478,0.097561,0.086957,...,0.030030,0.039474,1.000000,0.044118,0.103448,0.105882,0.117647,0.068966,0.065789,0.057471
993,Telephone_numbers_in_the_United_Kingdom_9941,0.044776,0.039216,0.032967,0.025532,0.015385,0.016667,0.045455,0.023529,0.035211,...,0.014925,0.023913,0.044118,1.000000,0.089286,0.045977,0.028169,0.034483,0.032468,0.034884
994,Post_town,0.086207,0.076087,0.048193,0.040000,0.086957,0.102041,0.107143,0.126761,0.093750,...,0.030960,0.033408,0.103448,0.089286,1.000000,0.076923,0.137931,0.092105,0.085714,0.123288
995,Theft,0.148148,0.102564,0.114286,0.077551,0.115108,0.090909,0.108434,0.089109,0.118421,...,0.049133,0.053305,0.105882,0.045977,0.076923,1.000000,0.066667,0.076190,0.089820,0.076923
996,Charter_Trustees_3047,0.071429,0.088235,0.064516,0.046809,0.104839,0.100000,0.088235,0.135802,0.070423,...,0.045455,0.043860,0.117647,0.028169,0.137931,0.066667,1.000000,0.055556,0.100671,0.105882
997,Fairtrade,0.069767,0.057851,0.064220,0.052000,0.069444,0.077922,0.045977,0.090000,0.090323,...,0.025496,0.033543,0.068966,0.034483,0.092105,0.076190,0.055556,1.000000,0.077381,0.067308
998,Pedestrian,0.073333,0.082418,0.088235,0.121622,0.120603,0.070423,0.052632,0.098765,0.106977,...,0.093909,0.093385,0.065789,0.032468,0.085714,0.089820,0.100671,0.077381,1.000000,0.090909
999,Lancaster%2C_Lancashire_16df,0.083333,0.104348,0.116505,0.052209,0.062500,0.078947,0.097561,0.080000,0.070064,...,0.055556,0.051282,0.057471,0.034884,0.123288,0.076923,0.105882,0.067308,0.090909,1.000000

In [40]:
df_cos_text = pd.DataFrame(df1.name)
names = df1.name.values
for name in names:
    helper = df1[df1["name"] == name].tf_idf.values[0]
    df_cos_text[name] = df1.tf_idf.apply(lambda x: calc_cosine_similarity(x, helper))

In [41]:
df_cos_text.set_index('name', inplace=True)
df_cos_text = df_cos_text.rename_axis(None)

In [42]:
df_cos_text = df_cos_text.where(np.triu(np.ones(df_cos_text.shape)).astype(np.bool))

In [43]:
df_cos_text = df_cos_text.stack()

In [44]:
df_cos_text = df_cos_text.reset_index()

In [45]:
df_cos_text.columns= ['Article1', 'Article2', 'CosineText']

In [46]:
df_cos_text = df_cos_text.sort_values(by='CosineText', ascending=False)
# df_cos_text.drop_duplicates(subset=['Article1', 'Article2'], inplace=True, keep=False)
df_cos_text = df_cos_text[df_cos_text.Article1 != df_cos_text.Article2]
ranks = pd.Series([i for i in range(1, df_cos_text.shape[0]+1)])
df_cos_text['cos_rank'] = ranks.values

In [47]:
df_cos_text.head()

       Article1 Article2  CosineText  cos_rank
227822     1819     1867         1.0         1
237368     1867     1832         1.0         2
234754     1571     1497         1.0         3
234736     1571     1658         1.0         4
237326     1867     1489         1.0         5

In [48]:
df_jac_text = pd.DataFrame(df1.name)
names = df1.name.values
for name in names:
    helper = df1[df1["name"] == name].words.values[0]
    df_jac_text[name] = df1.words.apply(lambda x: calc_jaccard_simmilarity(x, helper))
df_jac_text.set_index('name', inplace=True)
df_jac_text = df_jac_text.rename_axis(None)
df_jac_text = df_jac_text.where(np.triu(np.ones(df_jac_text.shape)).astype(np.bool))

df_jac_text = df_jac_text.stack()
df_jac_text = df_jac_text.reset_index()
df_jac_text.columns= ['Article1', 'Article2', 'JaccardText']
df_jac_text = df_jac_text.sort_values(by='JaccardText', ascending=False)
df_jac_text = df_jac_text[df_jac_text.Article1 != df_jac_text.Article2]
ranks = pd.Series([i for i in range(1, df_jac_text.shape[0]+1)])
df_jac_text['jac_rank'] = ranks.values

In [49]:
df_jac_text.head()

       Article1 Article2  JaccardText  jac_rank
228111     1819     1276          1.0         1
228181     1819     1219          1.0         2
228160     1819     1509          1.0         3
228158     1819     1496          1.0         4
228157     1819     1497          1.0         5

In [50]:
df2 = df2.head(1000)

In [51]:
df_jac_links = pd.DataFrame(df2.name)
names = df2.name.values
for name in names:
    helper = df2[df2["name"] == name].out_links.values[0]
    df_jac_links[name] = df2.out_links.apply(lambda x: calc_jaccard_simmilarity(set(x), set(helper)))
df_jac_links.set_index('name', inplace=True)
df_jac_links = df_jac_links.rename_axis(None)
df_jac_links = df_jac_links.where(np.triu(np.ones(df_jac_links.shape)).astype(np.bool))

df_jac_links = df_jac_links.stack()
df_jac_links = df_jac_links.reset_index()
df_jac_links.columns= ['Article1', 'Article2', 'JaccardLinks']
df_jac_links = df_jac_links.sort_values(by='JaccardLinks', ascending=False)
df_jac_links = df_jac_links[df_jac_links.Article1 != df_jac_links.Article2]
ranks = pd.Series([i for i in range(1, df_jac_links.shape[0]+1)])
df_jac_links['jac_rank_l'] = ranks.values

In [52]:
df_jac_links.head()

,Article1,Article2,JaccardLinks,jac_rank_l
222619,"Helena,_Montana_857d","Pierre,_South_Dakota_64e8",1.0,1
223361,"Columbia,_South_Carolina_ed95","Providence,_Rhode_Island_49f3",1.0,2
223367,"Columbia,_South_Carolina_ed95","Richmond,_Virginia_2b80",1.0,3
223368,"Columbia,_South_Carolina_ed95","Charleston,_West_Virginia_1570",1.0,4
224110,"Providence,_Rhode_Island_49f3","Richmond,_Virginia_2b80",1.0,5

In [53]:
df_sim = pd.merge(df_cos_text, df_jac_text, on=['Article1', 'Article2'])
df_sim = pd.merge(df_sim, df_jac_links, on=['Article1', 'Article2'])

In [54]:
df_sim.sort_values(by="CosineText", ascending=False).head(15)

,Article1,Article2,CosineText,cos_rank,JaccardText,jac_rank,JaccardLinks,jac_rank_l
0,1819,1867,1.0,1,1.0,63,0.700000,97691
1522,192,1286,1.0,1523,1.0,1543,0.605263,194830
1516,192,List_of_blues_genres,1.0,1517,1.0,1528,0.490196,352352
1517,192,1499,1.0,1518,1.0,1529,0.575000,235257
1518,192,1219,1.0,1519,1.0,1530,0.658537,134955
1519,192,1509,1.0,1520,1.0,1531,0.562500,251938
1520,192,1496,1.0,1521,1.0,1532,0.541667,282471
1521,192,1658,1.0,1522,1.0,1534,0.557692,259402
1523,192,1423,1.0,1524,1.0,1535,0.491525,348827
1514,192,1636,1.0,1515,1.0,1513,0.589744,215265
1524,192,1419,1.0,1525,1.0,1536,0.517857,315925
1525,192,1713,1.0,1526,1.0,1537,0.638889,155027
1526,192,1071,1.0,1527,1.0,1538,0.627907,166764
1527,192,1360,1.0,1528,1.0,1539,0.565217,249005
1528,192,1276,1.0,1529,1.0,1540,0.549020,271388

In [55]:
df_sim['diff'] = np.square(df_sim['cos_rank'] - df_sim['jac_rank'])
df_sim['diff1'] = np.square(df_sim['cos_rank'] - df_sim['jac_rank_l'])
df_sim['diff2'] = np.square(df_sim['jac_rank'] - df_sim['jac_rank_l'])

In [56]:
df_sim.head()

,Article1,Article2,CosineText,cos_rank,JaccardText,jac_rank,JaccardLinks,jac_rank_l,diff,diff1,diff2
0,1819,1867,1.0,1,1.0,63,0.700000,97691,3844,9543336100,9531226384
1,1867,1832,1.0,2,1.0,116,0.566667,247535,12996,61272586089,61216161561
2,1571,1497,1.0,3,1.0,159,0.892857,5581,24336,31114084,29398084
3,1571,1658,1.0,4,1.0,160,0.875000,8183,24336,66896041,64368529
4,1867,1489,1.0,5,1.0,148,0.666667,127605,20449,16281760000,16245286849

In [57]:
sum(df_sim['diff'])

8885554132218462

In [58]:
sum(df_sim['diff1'])

17381650942319328

In [59]:
sum(df_sim['diff2'])

19656097342988006

In [60]:
def rho(diff_column, n): 
    return 1 - (6*sum(diff_column))/(n*(n**2 -1))

In [61]:
# cos and jaccard
rho(df_sim['diff'], df_sim.shape[0])

0.57221131854569718

In [62]:
# cos and jaccard_links
rho(df_sim['diff1'], df_sim.shape[0])

0.16317278275842806

In [63]:
# jaccard and jaccard_links
rho(df_sim['diff2'], df_sim.shape[0])

0.05367117911025876

In [65]:
np.square(27500)

756250000