In [134]:
import pandas as pd
import re
from statistics import median, mean
data = []
with open('data.txt', 'r', encoding='utf-8') as f:
    for line in f:
        if line == "\n": continue
        data.append(line)
df = pd.DataFrame(data, columns=['article'])

In [140]:
df.head()

,article,lenght_char,sentences,words,word_len,word_count,word_avg_len,word_med_len
0,"April is the fourth month of the year, and com...",2065,27,"[April, is, the, fourth, month, of, the, year,...","[5, 2, 3, 6, 5, 2, 3, 4, 3, 5, 7, 5, 3, 3, 2, ...",392,4.142857,4.0
1,August is the eighth month of the year in the ...,1521,18,"[August, is, the, eighth, month, of, the, year...","[6, 2, 3, 6, 5, 2, 3, 4, 2, 3, 9, 8, 6, 7, 4, ...",277,4.361011,4.0
2,Art is an activity or creation by people that ...,3944,37,"[Art, is, an, activity, or, creation, by, peop...","[3, 2, 2, 8, 2, 8, 2, 6, 4, 3, 10, 7, 2, 2, 10...",660,4.815152,4.0
3,A is the first letter of the English alphabet....,1474,20,"[A, is, the, first, letter, of, the, English, ...","[1, 2, 3, 5, 6, 2, 3, 7, 8, 3, 5, 6, 1, 2, 4, ...",278,4.133094,4.0
4,Air is the Earth's atmosphere. Air around us i...,1081,23,"[Air, is, the, Earth, s, atmosphere, Air, arou...","[3, 2, 3, 5, 1, 10, 3, 6, 2, 2, 1, 7, 2, 4, 5,...",205,4.087805,3.0

In [136]:
df['lenght_char'] = df['article'].apply(lambda x: len(x))
df['sentences'] = df['article'].apply(lambda x: len(x.split('.')))
df['words'] = df['article'].apply(lambda x: re.findall(r'\w+', x))
df['word_len'] = df['words'].apply(lambda x: [len(p) for p in x])
df['word_count'] = df['words'].apply(lambda x: len(x))

In [138]:
df = df.drop(df[df.word_count == 0].index)

Empty DataFrame
Columns: [article, lenght_char, sentences, words, word_len, word_count]
Index: []

In [139]:
df['word_avg_len'] = df['word_len'].apply(lambda x: mean(x))
df['word_med_len'] = df['word_len'].apply(lambda x: median(x))

In [141]:
df.shape

(117898, 8)